In [40]:
import pandas as pd

# Introduction

The data can be found under the following link: https://www.kaggle.com/datasets/nelgiriyewithana/australian-vehicle-prices

The goal of the project is price prediction based on the input features

In [41]:
df = pd.read_csv('./data/Australian Vehicle Prices.csv')

In [42]:
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16734 entries, 0 to 16733
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              16733 non-null  object
 1   Year               16733 non-null  float64
 2   Model              16733 non-null  object
 3   Car/Suv            16706 non-null  object
 4   Title              16733 non-null  object
 5   UsedOrNew          16733 non-null  object
 6   Transmission       16733 non-null  object
 7   Engine             16733 non-null  object
 8   DriveType          16733 non-null  object
 9   FuelType           16733 non-null  object
 10  FuelConsumption    16733 non-null  object
 11  Kilometres         16733 non-null  object
 12  ColourExtInt       16733 non-null  object
 13  Location           16284 non-null  object
 14  CylindersinEngine  16733 non-null  object
 15  BodyType           16452 non-null  object
 16  Doors              15130 non-null  object
 17  Seats              15029 non-null  object
 18  Price              16731 non-null  object
dtypes: float64(1), object(18)
memory usage: 2.4+ MB

# Data understanding

One of the biggest challange will be, that most of the feature vectors contains string values

In [44]:
print(f"Shape: {df.shape}\n\nColumns: {list(df.columns)}")

Shape: (16734, 19)

Columns: ['Brand', 'Year', 'Model', 'Car/Suv', 'Title', 'UsedOrNew', 'Transmission', 'Engine', 'DriveType', 'FuelType', 'FuelConsumption', 'Kilometres', 'ColourExtInt', 'Location', 'CylindersinEngine', 'BodyType', 'Doors', 'Seats', 'Price']

In [45]:
# checking the number of unique values in each column
df[df.columns].nunique()

Brand                   76
Year                    45
Model                  781
Car/Suv                618
Title                 8804
UsedOrNew                3
Transmission             3
Engine                 106
DriveType                5
FuelType                 9
FuelConsumption        157
Kilometres           14262
ColourExtInt           834
Location               618
CylindersinEngine       11
BodyType                10
Doors                   13
Seats                   13
Price                 3794
dtype: int64

In [46]:
# Check the missing values
df.isnull().sum()

Brand                   1
Year                    1
Model                   1
Car/Suv                28
Title                   1
UsedOrNew               1
Transmission            1
Engine                  1
DriveType               1
FuelType                1
FuelConsumption         1
Kilometres              1
ColourExtInt            1
Location              450
CylindersinEngine       1
BodyType              282
Doors                1604
Seats                1705
Price                   3
dtype: int64

The data shows that in 450 cases out of 16734 the location is not given. This might be just due to poor data maintanance, however it should be considered, that for some cases it was a sensitive information and was not published intentionally.

In the second step, the target column, the price column was examined and the 3 rows without price values were eliminated from the dataset. One of those rows seemed to have just NaN values.

In [47]:
df[df.Price.isnull()]

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
2391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10156,Isuzu,2016.0,D-MAX,Ute / Tray,2016 Isuzu D-MAX LS-U HI-Ride (4X4),USED,Automatic,"4 cyl, 3 L",4WD,Diesel,8.1 L / 100 km,147648,Silver / Black,"Hoppers Crossing, VIC",4 cyl,Ute / Tray,2 Doors,4 Seats,NaN
11039,Nissan,2018.0,Pathfinder,City Jeep - Pre Owned,2018 Nissan Pathfinder Ti X-tronic 2WD,USED,Automatic,-,Front,Unleaded,-,52414,White / Black,"Southbank, VIC",-,Wagon,NaN,NaN,NaN

In [48]:
# as the goal of the analysis is to predict the price of the car, we can drop the rows with missing values in the price column
df = df.dropna(subset=['Price'], axis=0)
# adding the missing values in the Location column with the string 'Unknown'
df['Location'].fillna(value='Unknown', inplace=True)

An additional preparation step is to extract the numeric informations from the string columns

In [49]:
df['Doors'] = df['Doors'].str.extract('(\d+)').astype(float)
df['Seats'] = df['Seats'].str.extract('(\d+)').astype(float)
df['FuelConsumption'] = df['FuelConsumption'].str.extract('([\d.]+) L / 100 km').astype(float)
df['CylindersinEngine'] = df['CylindersinEngine'].str.extract('(\d+)').astype(float)
df['Engine'] = df['Engine'].str.extract('([\d.]+)').astype(float)
df['Transmission'] = df['Transmission'].replace('-', 'Other')
df['FuelType'] = df['FuelType'].replace('-', 'Other')

In [50]:
df.describe()

,Year,Engine,FuelConsumption,CylindersinEngine,Doors,Seats
count,16731.000000,15058.000000,15035.000000,15058.000000,15129.000000,15028.000000
mean,2016.229155,4.423629,7.663632,4.423629,4.011633,5.101477
std,5.248000,1.120687,2.324684,1.120687,0.713248,1.119179
min,1940.000000,0.000000,0.000000,0.000000,2.000000,2.000000
25%,2013.000000,4.000000,6.500000,4.000000,4.000000,5.000000
50%,2017.000000,4.000000,7.600000,4.000000,4.000000,5.000000
75%,2020.000000,4.000000,8.800000,4.000000,4.000000,5.000000
max,2023.000000,12.000000,27.000000,12.000000,12.000000,22.000000

In [51]:
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,4.0,AWD,Diesel,8.7,5595,White / Black,"Caringbah, NSW",4.0,SUV,4.0,7.0,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,4.0,Front,Premium,6.7,16,Black / Black,"Brookvale, NSW",4.0,Hatchback,5.0,5.0,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,4.0,Rear,Premium,6.6,8472,Grey / White,"Sylvania, NSW",4.0,Coupe,2.0,4.0,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,8.0,Rear,Premium,11.0,136517,White / Brown,"Mount Druitt, NSW",8.0,Coupe,2.0,4.0,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,4.0,Front,Unleaded,6.0,1035,Grey / Black,"Castle Hill, NSW",4.0,SUV,4.0,5.0,34990

In [58]:
df[df.Engine != df.CylindersinEngine].shape

(1673, 19)

In [60]:
df[df.Engine != df.CylindersinEngine]

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
5,Toyota,2004.0,Estima,ON FOUR WHEELS,2004 Toyota Estima T EDITION,USED,Automatic,NaN,Other,Unleaded,NaN,160230,Grey / -,"Saint Marys, NSW",NaN,Commercial,NaN,NaN,9990
10,Toyota,2009.0,HiAce,Carbarn,2009 Toyota HiAce (No Badge),USED,Automatic,NaN,Other,Unleaded,NaN,148190,White / -,"Lidcombe, NSW",NaN,Commercial,NaN,NaN,42500
12,Honda,2015.0,City,USED Dealer ad,2015 Honda City GM VTi-L Sedan 4dr CVT 7sp 1.5...,USED,Automatic,NaN,Other,Unleaded,NaN,181745,Black / -,"Rouse Hill, NSW",NaN,NaN,NaN,NaN,11999
13,Toyota,2017.0,HiAce,USED Dealer ad,2017 Toyota HiAce,USED,Automatic,NaN,Other,Other,NaN,136296,Silver / Grey,"Lidcombe, NSW",NaN,NaN,NaN,NaN,38999
17,Mitsubishi,2013.0,Outlander,Exclusive Autohaus,2013 Mitsubishi Outlander ES,USED,Manual,NaN,Other,Other,NaN,120020,Blue / Grey,"Blacktown, NSW",NaN,Wagon,NaN,NaN,13999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16712,Nissan,2010.0,Elgrand,USED Dealer ad,2010 Nissan Elgrand,USED,Automatic,NaN,Other,Other,NaN,132000,White / -,"Slacks Creek, QLD",NaN,NaN,NaN,NaN,19000
16723,Suzuki,2022.0,Swift,NEW In stock,2022 Suzuki Swift GL Plus,NEW,Automatic,NaN,Front,Unleaded,NaN,20,Silver / Black,"Indooroopilly, QLD",NaN,Hatchback,NaN,NaN,28590
16726,Toyota,2011.0,Estima,Topcar Rez,2011 Toyota Estima,USED,Automatic,NaN,Front,Unleaded,NaN,97000,Silver / -,"Holland Park West, QLD",NaN,Wagon,7.0,NaN,21989
16729,Toyota,2014.0,Alphard,SYC Cars,2014 Toyota Alphard,USED,Automatic,NaN,Front,Unleaded,NaN,66000,Grey / -,"Rocklea, QLD",NaN,Commercial,7.0,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,NaN,Rear,Diesel,NaN,117432,Silver / -,"Port Melbourne, VIC",NaN,NaN,NaN,NaN,39888

In [59]:
df.isnull().sum()

Brand                   0
Year                    0
Model                   0
Car/Suv                27
Title                   0
UsedOrNew               0
Transmission            0
Engine               1673
DriveType               0
FuelType                0
FuelConsumption      1696
Kilometres              0
ColourExtInt            0
Location                0
CylindersinEngine    1673
BodyType              281
Doors                1602
Seats                1703
Price                   0
dtype: int64

The Engine and the CylindersinEngine columns are after the transformation identical and both have the NaN values for the same entities. Therefore one could drop one of these columns. The more interesting information extraction would be to extract the volume parameters from the Engine column.